<div class="content-wrapper"style="background-image: url('/resources/templates/dist/img/comunidade.jpg')";>

<section class="content">

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                <h3 class="box-title">Todos os Produtos</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome do Produto</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$produtosNaoRelacionados"}
                            <tr>
                            <td>{$value.idproduto}</td>
                            <td>{$value.desproduto}</td>
                            <td>
                                <a href="/admin/categorias/{$categoria.idcategoria}/produtos/{$value.idproduto}/add" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-right"></i> Adicionar</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                    <a style="color: #000;" href="/admin/categorias"><button type="button" class="btn btn-secondary" style="float: left; width: 120px; height: 50px;">Voltar</button></a> 
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                <h3 class="box-title">Produtos na Categoria <b>{$categoria.descategoria}</b></h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome do Produto</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$produtosRelacionados"}
                            <tr>
                            <td>{$value.idproduto}</td>
                            <td>{$value.desproduto}</td>
                            <td>
                                <a href="/admin/categorias/{$categoria.idcategoria}/produtos/{$value.idproduto}/remove" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i> Remover</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
    </div>   
</section>
</div>
